<div class="p-8" *transloco="let t; scope: 'reservation'">
  <div class="mb-4 flex justify-between">
    <h1 class="text-3xl font-bold mb-2 text-primary-500">
      {{ t('reservation.title') }}
    </h1>
    <p-button class="">Reserve</p-button>
  </div>
  <div class="flex gap-4">
    <div class="rounded border-surface-400 w-full">
      <p-table [value]="reservations">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ t('reservation.patient') }}</th>
            <th scope="col">{{ t('reservation.phone') }}</th>
            <th scope="col">{{ t('reservation.date') }}</th>
            <th scope="col">{{ t('reservation.startTime') }}</th>
            <th scope="col">{{ t('reservation.payment') }}</th>
            <th scope="col">{{ t('reservation.status') }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation>
          <tr>
            <td>{{ reservation.reservationId }}</td>
            <td>
              <p class="font-medium text-slate-900">{{ reservation.patient?.name }}</p>
            </td>
            <td>
              <p class="font-medium text-slate-900">{{ reservation.patient?.phone }}</p>
            </td>
            <td>
              <p class="font-medium text-slate-900">{{ reservation.appointment?.date }}</p>
            </td>
            <td>
              <p class="font-medium text-slate-900">
                @{{ reservation.appointment?.startTime }} For
                {{ reservation.appointment?.durationMinutes }} Mins
              </p>
            </td>
            <td class="flex items-center gap-2">
              <p class="font-medium text-slate-900">
                {{ reservation.payment?.amount }} {{ reservation.payment?.currency }}
              </p>
              @if (reservation.payment?.method === 'CASH') {
              <p-tag value="CASH" severity="success" [rounded]="true"></p-tag>
              } @else if (reservation.payment?.method === 'CARD') {
              <p-tag value="CARD" severity="info" [rounded]="true"></p-tag>
              } @else if (reservation.payment?.method) {
              <p-tag
                [value]="reservation.payment.method"
                severity="secondary"
                [rounded]="true"
              ></p-tag>
              }
            </td>
            <td>
              <p-tag
                [value]="reservation.status"
                [severity]="getStatusSeverity(reservation.status)"
                [rounded]="true"
              ></p-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
